body {
	margin:0;
	padding:0;
	background-color:#000;
	height:100%;
	overflow:hidden;
	color:#fff;
	font-family:"Trebuchet MS";
	user-select:none;
}

#main {
	position:absolute;
	width:calc(100% - 325px);
	height:calc(100% - 32px);
}

.popUp {
	position: absolute;
	border-radius: 5px;
	background-color: white;
	z-index: 10;
	background-color: #636363;
	padding:5px;
	border-top:solid 1px #999;
	box-sizing:border-box;
	text-align: center;
	box-shadow:0 4px 30px #0008;
}

.popUp::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -11px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 20px;
	height: 20px;
	background-color: #636363;
	border-top:solid 1px #999;
	border-left:solid 1px #999;
}

.popUp.popUpAboveButton::before {
	top:auto !important;
	bottom:-10px !important;
	border-style:none !important;
}

#inspector {
	background-color:#424242;
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:325px;
}

#inspector input[type="checkbox"], #popUp input[type="checkbox"] {
	width:18px;
	height:18px;
}

#toolbar button {
	height:25px;
	margin:2.5px 0 2.5px 2.5px;
}

#toolbar {
	background-color:#31313188;
	border-top:solid 1px #555;
	height:32px;
	width:calc(100% - 325px);
	position:absolute;
	left:0;
	bottom:0;
	backdrop-filter:blur(10px);
}

.editorTabs .editorTab {
	background-color:#636363;
	border-top:solid 1px #999;
	float:left;
	padding:5px;
	margin-right:1px;
	cursor:pointer;
	width:calc(25% - 11px);
	border-bottom:solid 1px #333;
	text-align:center;
}
.editorTabs .editorTab i {
	margin-right:5px;
}
.editorTabs .editorTab.editorTabSelected {
	background-color:#f44336;
	border-top-color:#ef9a9a;
	border-bottom:solid 1px #751212;
}
.editorTabContent {
	margin-top: 5px;
	height:calc(100% - 31px);
	top:31px;
	position:absolute;
	width:100%;
}
.editorSection {
	border-top: 1px solid #999;
	padding: 5px;
}

.editorTab:active, .emuButton:active {
	filter:brightness(115%);
}
.editorRightAlign {
	float:right;
}
.editorTitle {
	margin-bottom: 5px;
	padding: 0 5px;
}


.constraintsBox {
	display: flex;
	flex-wrap: wrap;
}
.constraintRow {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.constraintRow > svg {
	width: calc(100% / 3);
}

.widthHeightContainer {
	display: flex;
	width: 100%;
	margin-top: 10px;
}
.widthHeightContainer > div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.widthHeightContainer label {
	margin:0 5px;
}
.widthHeightContainer input[type="number"] {
	width:70px;
}

.constraintPositioningBox {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.constraintPositioningBox > div {
	width: calc(100% / 3);
	display: flex;
	align-items: center;
	justify-content: center;
}


.tagsSection {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}

.addTagButton {
	margin-bottom: 4px;
	height: 26px;
	width: 26px;
}

.tag {
	height: 26px;
	border-radius: 5px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #636363;
	margin: 0 4px 4px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
}

.tag > i {
	margin-left: 8px;
}

.tag > i:hover {
	cursor: pointer;
	opacity: 0.8;
}

.editorSelected {
	animation:editorSelectedAni 1s linear infinite;
}
@keyframes editorSelectedAni {
	0% {
		filter:sepia(90%) hue-rotate(300deg) brightness(100%);
	}
	50% {
		filter:sepia(90%) hue-rotate(300deg) brightness(120%);
	}
	100% {
		filter:sepia(90%) hue-rotate(300deg) brightness(100%);
	}
}
#rightClickMenu {
	position:fixed;
	border-radius:5px;
	border:solid 1px #555;
	border-top-color:#888;
	border-bottom-color:#222;
	background-color:#0008;
	backdrop-filter:blur(10px);
	padding:5px;
	box-sizing:border-box;
	box-shadow:0 5px 10px #0008;
	display:none;
}
#overlay {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
}

.emuButton {
	padding:0;
	box-sizing:border-box;
	position:relative;
	top:-4px;
}
.emuButton:focus {
	box-shadow:0 2px 10px #00000019, 0 0 0 4px #63636344 !important;
}
.emuScreenSize, .emuRights, .emuEnvVar, .emuAccess, .emuTitle {
	display:inline-block;
	float:left;
	position:relative;
	height:calc(100%);
	top:-1px;
	background-color:#636363;
	border-top:solid 1px #999;
	line-height:24px;
	padding-left:5px;
	padding-right:5px;
}
.emuTitle {
	padding-left:10px !important;
	padding-right:10px !important;
}
.emuButton>.emuTitle:first-child {
	border-radius:5px 0 0 5px;
}
.emuScreenSize {
	background-color:#4CAF50;
	border-top:solid 1px #81C784;
}
.emuRights {
	background-color:#FF9800;
	border-top:solid 1px #FFCC80;
}
.emuEnvVar {
	background-color:#f44336;
	border-top:solid 1px #ef9a9a;
}
.emuAccess {
	background-color:#03A9F4;
	border-top:solid 1px #81D4FA;
}
.emuButton :last-child {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.outletDragFrom {
	border:solid 1px #fff;
	border-radius:50%;
	width:10px;
	height:10px;
	float:right;
	margin-left:30px;
	margin-top:2.5px;
}

#wires {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	pointer-events:none;
}

.wireToElement .elementWrapper {
	cursor:copy;
}

.inletRow:hover {
	background-color:#555;
	cursor:pointer;
}

#componentLibrary {
	position:fixed;
	left:calc(50% - (325px / 2));
	top:calc(50% - (32px / 2));
	transform:translate(-50%, -50%);
	width:50%;
	height:50%;
	background-color:#21212188;
	backdrop-filter:blur(30px);
	box-shadow:0 4px 20px #0008;
	border-radius:10px;
	box-sizing:border-box;
	display:none;
}
#componentLibrary input {
	width:100%;
	height:50px;
	background-color:#0c0c0c;
	font-size:1.5em;
}
#componentLibrary input:focus {
	box-shadow:none !important;
}
#componentLibrary #componentLibraryResults {
	height:100%;
	overflow:scroll;
}
#componentLibrary #componentLibraryResults h1 {
	padding:0;
	margin:0;
	font-size:1.2em;
}
.componentLibraryResult {
	padding:5px;
	box-sizing:border-box;
	border-bottom:solid 1px #555;
}
.emulateTable {
	text-align:left !important;
}